
html { font-family: '微软雅黑', Arial, sans-serif; color: #fff;}
body { margin: 0; padding: 0; }
ul, li { list-style: none; margin: 0; padding: 0; }
h1 { padding: 0; margin: 0;}
img { border: 0; }
a { text-decoration: none; }

.logo { width: 990px; height: auto; padding: 10px 0; margin: auto; overflow: hidden;}

.main { width: 100%; height: auto; background-color: #3b9be6; overflow: hidden;}
.main .content { width: 990px; height: auto; margin: 50px auto; overflow: hidden;}
.main .content .left { width: 467px; float: left;}
.main .content .left img { margin-top: 30px;}
.main .content .login-box { width: 360px; height: auto; float: right; overflow: hidden;}
.main .content .login-box h1 { width: 360px; height: auto; font-size:18px; float: left; margin-bottom: 10px; overflow: hidden;}
.main .content .login-box .box { width: 360px; height: auto; float: left; padding: 15px 0; background-color: #fff; overflow: auto;}
.main .content .login-box .box li { width: 85%; height: 45px; margin: 15px auto; border-bottom: solid 1px #bababa; overflow: auto;}
.main .content .login-box .box li.user { background: url(../images/icon_user.png) no-repeat;}
.main .content .login-box .box li.password { background: url(../images/icon_password.png) no-repeat; }
.main .content .login-box .box li input { width:260px; height: 30px; margin-left: 40px; font-size: 18px; color: #7c7c7c; border: none;}
.main .content .login-box .box .code { width: 85%; height: auto; margin: 25px auto 10px auto;overflow: auto;}
.main .content .login-box .box .code .left { width: 140px; float: left;}
.main .content .login-box .box .code .left input { width: 140px; height: 43px; line-height: 43px; font-size: 18px; color: #7c7c7c; text-align: center; border: solid 1px #bababa; }
.main .content .login-box .box .code .right { width: 141px; float: right;}
.main .content .choice { width:360px; float: right; margin-top: 15px; overflow: hidden;}
.main .content .choice li { width:35%; float: left; overflow: hidden;}
.main .content .choice li input { margin-right: 8px;}
.main .content .choice a { width:100px; float: right; color: #fff; text-align: right; overflow: hidden;}
.main .content .btn { width: 360px; height:55px; float: right; font-size: 18px; color: #fff; text-align: center; line-height: 55px; margin-top: 20px; background-color: #eb8900; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.main .content .btn:hover { background-color: #e46100;}

footer { width: 100%; height: auto; font-size: 14px; color: #666; text-align: center; padding: 10px 0; margin-top: 20px; overflow: hidden;}
